@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@300;400&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color:black;
    font-family: 'Oswald', sans-serif;
}

/* Contenedor principal - TODO */
.contenedor{
    display: flex;
    position: absolute;
    width: 100%;
    height: 100%;
    border: none;
}
/*Navegacion estilos*/
.menu{
    width: 300px;
    border-radius: 5px 16px 16px 5px;
    position: relative;
    z-index: 20;
    justify-content: end;
}

/*ejecucioan cuando se ponga en modo active el menu para su desplazamiento*/
.menu .active{
    left: -100%;
    position: relative;
}
/* Botonde menu */
.boton_Menu .active{
    left: -300px;
    position: relative;
}
.boton_Menu {
    position: relative;
    z-index: 20;
    width: 100px;
    height: 15px;
}
/* efectos del boton menu */
.opcion{
    margin-right: 10px; 
    font-weight: 300;
    display: inline-block;
    padding: 15px 30px;
    letter-spacing: 3px;
    color: white;
    overflow: hidden;
    transition: 0.2s;
    text-decoration: none;
}

.opcion:hover{
    background:#D90739;
    box-shadow: 0 0 10px #D90739, 0 0 40px #D90739, 0 0 80px #D90739;
    transition-delay: 0.2s;
}

/* navegacion */
.nav{
    width: 300px;
    z-index: 1000;
    transition: left 0.3s ease;
}


.nav__link{
    color: #ffffff;
    display: block;
    padding: 15px 0;
    text-decoration: none;
}

.nav__link-inside:hover{
    background: #D90739;
}

.list{
    background-color: rgb(25, 18, 49);
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    flex-direction: column;
    border-radius: 5px 16px 16px 5px;
}

.list__item{
    list-style: none;
    width: 100%;
    text-align: center;
    overflow: hidden;
}
.list__item-click{
    cursor: pointer;
}
.list__button{
    display: flex;
    align-items: center;
    gap: 1em;
    width: 70%;
    margin: auto;
}

.list__arrow{
    margin-left: auto;
    transition: transform .3s;
}

.arrow .list__arrow{
    transform: rotate(90deg);
}


.list__show{
    width: 80%;
    margin-left: auto;
    border-left: 2px solid white;
    list-style: none;
    transition: height .4s;
    height: 0;
}

.intro{
    position: relative;
    z-index: 10;
}

#fondo {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.capa{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgb(122, 114, 163);
    opacity: 0.5;
    /* ajustar el color de acuerdo al fondo */
    mix-blend-mode: overlay;
}

/* Icono mio */
.Icono{
    position: absolute;
    display: flex;
    width: 150px;
    height: 150px;
    border-radius: 50%;
    top: 0;
    right: 0;
    margin-top: 10px;
    margin-right: 10px;
    z-index: 10;
}

.icono_Imagen{
    border-radius: 50%;
    width: 150px;
    height: 150px;
}

/* Imagen de icono */
#foto{
    position: relative;
    z-index: 10;
    border-radius: 30%;
    width: 150px;
    height: 150px;
    top: 150px;
    left: 255px;
    cursor: pointer;
    transition: transform 0.3 ease-in-out;
}

/* Texto de la imagen foto */
#texto_Nombre{
    position: absolute;
    top: calc(32% + 40px);
    left: 50%;
    transform: translateX(-50%);
    display: none;
    z-index: 10;
    color: #ffffff;
    background-color:#D90739;
    box-shadow: 0 0 10px #D90739, 0 0 40px #D90739, 0 0 80px #D90739;
}

/* Bloques de texto en la pantalla */
.contenedor_Textos{

    position: absolute;
    top: 50%;
    left: 0;
    width: 100%;
    height: 100%;
    border: none;
    z-index: 10;
}

.perfil, .proyecto{
    color: #ffffff;
    width: 80%;
    padding: 20px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 120px;
    border-radius: 10px;
    box-shadow: 0 0 10px #b911df, 0 0 40px #b911df, 0 0 80px #b911df;
}

.perfil h1{
    color: #ffffff;
    display: grid;
    place-items: center;
    margin-top: 20px;
}

.perfil p{
    margin-top: 15px;
    margin-left: 20px;
    margin-right: 20px;
    font-size: 20px;
}

/* Proyecto */
.proyecto h1{
    color: #ffffff;
    display: grid;
    place-items: center;
    margin-top: 20px;
    margin-bottom: 30px;
}

.proyecto p{
    margin-top: 15px;
    margin-left: 20px;
    margin-right: 20px;
    font-size: 20px;
}
/* información academica */
.academica{
    color: #ffffff;
    width: 80%;
    padding: 20px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 120px;
    border-radius: 10px;
    box-shadow: 0 0 10px #b911df, 0 0 40px #b911df, 0 0 80px #b911df;
}

.academica h2{
    color: #F87354;
    margin-left: 20px;
}

.academica h1{
    color: #ffffff;
    display: grid;
    place-items: center;
    margin-top: 15px;
    margin-bottom: 25px;
}

.academica p{
    margin-top: 15px;
    margin-bottom: 15px;
    font-size: 20px;
    margin-left: 20px;
}

.habilidades img{
    position: relative;
    width: 45px;
    height: 45px;
    margin-top: 20px;
    margin-left: 70px;
}

.habilidades{
    position: absolute;
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: 35%;
    height: 50%;
    top: 70%;
    left: 50%;

}

.habilidades h2{
    color: #F87354;
    margin: 0;
}

.py, .sql, .linux, .java{
    display: flex;
    align-items: center;
}