/**Contenedor primario, contiene varios bloques **/
.contenedor{
    background-color: white;
    width: 100%;
    height: 100%;
    display: flex;
    position: absolute;
    z-index: -1;
    flex-wrap: wrap;
    background-color: black;
    left: -10;
    background-size: cover;
    width: 100%;
    flex-wrap: wrap;
}
/**Ccontenor de spam y novedades **/
.Novedades{
    background-color: rgba(0, 0, 0, 0.979);
    width: 100%;
    height: 20px;
    margin: auto;
    position: absolute;
    left: 10;
    top: 0;
    font-size: 15px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
#Spam h3{
    color: white;
    font-size: 10;
    font-family: Arial, Helvetica, sans-serif;
}
/**Imagenes de fondo principal**/
.Fondo_Imagen{
    display: flex;
    justify-content: center;
    align-items: center;
}
#Fondo{
    width: 100%;
    height: 400px;
    background-image: url(https://images.unsplash.com/photo-1504639725590-34d0984388bd?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=774&q=80);
    background-repeat: no-repeat;
    background-size: cover;
    position: absolute;
    left: 10;
    top: 20;
    z-index: 1;
}
#Fondo h1{
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 50;
    position: relative;
    top: -95px;
    left: 35px;
}
#Fondo2 h2{
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20;
    position: relative;
    top: -40px;
    left: -585px;
}
/**Foto perfil **/
#My_Foto{
    width: 155px;
    height: 155px;
    background-image: url(yo.jpg);
    position: absolute;
    z-index: 2;
    border-radius: 50%;
    background-repeat: no-repeat;
    background-size: cover;
    left: 65px;
    top: 65px;
}


